/*TreasureMap Font*/
@font-face {
    font-family: 'TreasureMap';
    src: url('Treasuremap-Ea1vj.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    background-image: url('main_menu_bg.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    
}

.header{
    position: relative;
    min-height: 119px;
}

.experios_logo_container{
    position: absolute;
    top:23px;
    left:53px;
    height: 35px;
    width: 138px;
}

.header-buttons-container{
    position: absolute;
    top: 39px;
    right: 345px;
    display: inline-flex;
    gap: 16px;
    color: white;
}


.connected{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height:37px;
    width:200px;
    gap:10px;
    background: rgba(17,52,70,0.53);
    border: 1px solid rgba(53, 81, 93, 1);
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}


.logout{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height:37px;
    width:141px;
    gap:10px;
    background: rgba(17,52,70,0.53);
    border: 1px solid rgba(53, 81, 93, 1);
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 156px;
}


.menu-container p {
    font-family: 'Montserrat', cursive;
    font-size: 30px;
    font-weight: 400;
    color: white;
    margin-bottom: 14px;
    margin-top: 0;
}

.menu-container h1 {
    font-family: 'TreasureMap', cursive;
    font-size: 80px;
    color: white;
    margin-top: 0;
    margin-bottom: 93px ;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 13.5px;
    width: 100%;
    justify-content: center;
}


.card {
    background: none;
    border-radius: 20px;
    width: 281.44px;
    height: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
     gap: 81px;
    overflow: hidden;
    transform: rotate(0.5deg); /* rotates clockwise slightly */
    transform-origin: top right; /* pivot from top-right corner */
    margin-bottom: 0;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #3B5667 0%, #2C3D48 100%);
    z-index: 1;

}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2c3d48;
    clip-path: path(
        'M 220 0 Q 115 115, 200 235 Q 240 300, 200 350 L 0 350 L 0 0 Z'
    );

    z-index: 1;
    
}

.card > * {
    flex: 0 0 auto;
}



.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("circle.png") center center no-repeat;
    width: 142px ;
    height: 142px ;
    z-index: 2;
    margin-top: 65px;
}


.icon1{
    background: url("icon_card1.png") center center no-repeat;
    width: 60.54px;
    height: 52px;
    z-index: 3;
}

.icon2{
    background: url("icon_card2.png") center center no-repeat;
    width: 41px;
    height: 69px;
    z-index: 3;
}

.icon3{
    background: url("icon_card3.png") center center no-repeat;
    width: 31px ;
    height: 73px ;
    z-index: 3;
}

.icon4{
    background: url("icon_card4.png") center center no-repeat;
    width: 40px;
    height: 44px;
    z-index: 3;
}

.text{
    z-index: 2;
    margin-bottom:0 ;
}

.text h1 {
    color: white;
    text-align: center;
    font-family: 'Montserrat', cursive;
    font-size:32px;
    font-weight:400;
}


.card:hover::before, .card:hover::after{
    background: url("red_card.png") center/cover no-repeat;
    z-index: 1;
    border-radius: 20px;
}


